# Commentary lines start with '#'
# This file contains the path for input and output files for all scripts
# Use 'export myConfigFile.config' to load the variables

#############################################
## Editable Area (cohort specific)
#############################################
cohort="cohortID"

# Input BAM files (each line has complete paths to each bam file) 
bamFileList="/path_to_cohortID/bamFileList.list"

# Run Folder (all subdirectories will be created here)
outputFolderPath="/path_to_cohortID/"

# id_mapping (tab separated, 4 columns, no header): sample_id, bam_file_path, snp_vcf_file_path, gender(F/M) 
id_mapping="/path_to_cohortID/WGS_ids_and_gender.txt"

# Gender Map File 
genderMapFile=$id_mapping

# Tmp Dir
tmpDir="/path_to_my_tmp/"

#############################################
## Path to tools
#############################################
# Somalier (https://github.com/brentp/somalier)
# Download "sites.GRCh37.vcf.gz" from https://github.com/brentp/somalier/releases 
path_to_somalier="/path_to_somalier" 

# Lumpy and speedseq
lumpyexpress_path="/path_to_lumpyexpress" 
lumpy_path="/path_to_lumpy"
speedseq_annotations="/path_to_speedseq_annotations"

sambamba = "/path_to_sambamba"
picard = "/path_to_picard"
samtools = "/path_to_samtools"
bamtools = "/path_to_bamtools"

# Path to our supporting_scripts folder
svpipeline_r_lib="supporting_scripts/"

# Delly excluded regions
delly_exclude="/path_to_delly/excludeTemplates/human.hg19.excl.tsv"

# QC scripts (adapted from Holmes pipeline)
sexCheck="supporting_scripts/sexCheck.sh"
chrCopyCount="supporting_scripts/chrCopyCount.sh"

#############################################
## Resources and references
#############################################

# Folder with reference resources
# Using 1000G_phase1_25Jan2015.tar.gz (ftp://ftp.broadinstitute.org/pub/svtoolkit/reference_metadata_bundles)
rmdFolder="/path_to_resources/1000G_phase1"

# Reference genome
referenceFasta=${rmdFolder}"/human_g1k_v37.fasta"
ploidyMapFile=${rmdFolder}"/human_g1k_v37.ploidymap.txt"
genomeMaskFile=${rmdFolder}"/human_g1k_v37.mask.36.fasta"
# reference dictionary, restricted to chromosomes where calls should be made
DICT=${rmdFolder}"/human_g1k_v37.dict" 
# bed file corresponding to N-masked regions of reference genome
NMASK=${rmdFolder}"/human_g1k_v37.mask.36.fasta.bed"

# Restrict analysis (on some pipelines) for only chromosomes in this list
intervalList=${rmdFolder}"/intervalsList.list"

# Manta requires a bed file
intervalListBed=${rmdFolder}"/intervalsList.bed.gz"

# Regions for filtering SVs (Bradler et al. 2016. AJHG)
filtered_regions="/path_to_resources/filtered_regions_hg19.bed"

# For benchmarking
bench_truvari="/path_to_scripts/QC_Scripts/benchmark_vcf_using_truvari.sh"
bench_truvari_script="/path_to_scripts/QC_Scripts/merge_and_benchmark_vcfs_truvari.sh"

# Benchmark againt the GIAB - HG002 tier 1 v0.6
benchmark_vcf="/hpc/users/viallr01/ad-omics/ricardo/Data/GIAB/HG002_SV_benchmark/HG002_SVs_Tier1_v0.6.vcf.gz" # HG002 tier 1 SV set (whole genome)
benchmark_vcf_DEL="/hpc/users/viallr01/ad-omics/ricardo/Data/GIAB/HG002_SV_benchmark/HG002_SVs_Tier1_v0.6.DEL.vcf.gz" # DEL only
benchmark_vcf_INS="/hpc/users/viallr01/ad-omics/ricardo/Data/GIAB/HG002_SV_benchmark/HG002_SVs_Tier1_v0.6.INS.vcf.gz" # INS only
benchmark_bed="/hpc/users/viallr01/ad-omics/ricardo/Data/GIAB/HG002_SV_benchmark/HG002_SVs_Tier1_v0.6.bed"

# Do not change the last line
#### End of file ####
